<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">My Secret</h1>
    <h5>Google and Facebook Authentication removed due to my unprofessionalism :(</h2>
    <h6>Code can be found on <a href="https://github.com/mr-devansh">Github.</a></h3>
    <hr>
  </div>
</div>

<%- include('partials/footer') %>
